.categoryNames {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 70px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 3px 12px 14px -10px rgba(0, 0, 0, 0.50);
  gap: 4rem;
  font-size: 20px;
}

.eachCategoryName {
  color: rgba(0, 0, 0, 0.65);
}

.eachCategoryName:hover {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
}

/* loading Page */

.loadingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh;
}
