.navbarComp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 1rem 1rem 1rem;
  top: 0%;
  background-color:rgb(31, 109, 226);
  z-index: 10;
  box-shadow: 0px 7px 10px -12px rgba(0, 0, 0, 0.45);
}

.shopWord {
  margin: 0px;
  font-size: 4em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transform: scale(1); 
  transition: all 0.2s ease-in-out;
}

.shopWord:hover {
  color: #ffffff;
  text-decoration: double;
  font-size: 4.1em; 
  transform: scale(1); 
}

.navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropDownBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  background-color: rgb(245, 234, 215);
  box-shadow: 0px 0px 4px 0px grey;
}

.dropDownBtnContent {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
}

.signUp {
  font-size: 15px;
  padding-left: 15px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mainCartIcon {
  cursor: pointer;
  background-color: white;
}

.navbarWishDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbarWishIcon{
  font-size: 2.4em;
  color: red;
  padding-left: 0.5em;

}
.navbarWishIcon:hover{
color: rgb(255, 255, 63);

}
.navbarCartIcon{
  font-size: 2.6em;
  color: white;
  padding-left: 0.3em;
}
.navbarCartIcon:hover{
  color: rgb(255, 255, 63);

}

.wishLengthDiv {
  background-color: black;
  border-radius: 10rem;
  margin-left: -0.8rem;
  margin-bottom: 1.8rem;
}

.wishLengthSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 20rem;
  padding: 0.2rem 0.58rem;
  text-decoration: none;
}

.navbarCartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cartLengthDiv {
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  border-color: black;
  margin-left: -0.8rem;
  margin-bottom: 1.8rem;
}
.cartLengthSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20rem;
  padding: 0.2rem 0.7rem;
}
